<h1>Sign In</h1>
<form action=/session/create>
  <label for="username">Username: </label>
  <input id="username" type="text" placeholder="Username" name="username">
  <br>
  <label for="password">Password:</label>
  <input id="password" type="password" placeholder="your password here" name="password">
   <br>
  <input type="submit"> 
</form>