<p>Gryffindor values bravery, daring, nerve, and chivalry. Its emblematic animal is the lion and its colours are scarlet and gold. Minerva McGonagall is the most recent Head of Gryffindor. Sir Nicholas de Mimsy-Porpington, aka Nearly Headless Nick, is the house ghost. The founder of the house is Godric Gryffindor. Gryffindor corresponds to the element of Fire. The common room is located in one of the highest towers at Hogwarts, the entrance is situated on the seventh floor in the east wing of the castle and is guarded by a portrait of The Fat Lady. She permits entrance if given the correct password which is changed numerous times throughout the school year.</p> <br>
<a href="http://harrypotter.wikia.com/wiki/Gryffindor"> Link to more information</a><br>
Gryffendor house roster:<br>
<% @griffendors.each do |griffendor| %>
  <%= griffendor.name %>
  <br>
<% end %>