<p>Ravenclaw values intelligence, knowledge, and wit. Its emblematic animal is the eagle, and its colours are blue and bronze. The Ravenclaw Head of House in the 1990s was Filius Flitwick. The ghost of Ravenclaw is the Grey Lady, who was the daughter of Rowena Ravenclaw, the house's founder. Ravenclaw corresponds to the element of air. The Ravenclaw common room and dormitories are located in a tower on the west side of the castle. Ravenclaw students must answer a riddle as opposed to giving a password to enter their dormitories. This riddle, however, can be answered by non-Ravenclaws.</p><br>
<a href="http://harrypotter.wikia.com/wiki/Ravenclaw"> Link to more information</a><br>
Ravenclaw house roster:<br>

<% @ravenclaws.each do |ravenclaw| %>
  <%= ravenclaw.name %>
  <br>
<% end %>